services:
  crater-manipulator:
    container_name: crater-manipulator
    user: 1000:1000
    build:
      context: ./crater-manipulator
      dockerfile: Dockerfile
    volumes:
      - /mnt/2000/container-mounts/caddy/crater-manipulator:/crater-manipulator
      - ./healthcheck:/healthcheck
    environment:
      - HOME=/crater-manipulator
    networks:
      - caddy-net
    healthcheck:
      test: ["CMD", "/healthcheck/checkForCraterManipulatorProcess"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 30s
      retries: 5
networks:
  caddy-net:
    external: true
