services:
  wallabag:
    container_name: wallabag
    image: wallabag/wallabag
    environment:
      - SYMFONY__ENV__SERVER_NAME="Wallabag"
      - SYMFONY__ENV__MAILER_DSN=${SYMFONY__ENV__MAILER_DSN}
      - SYMFONY__ENV__FROM_EMAIL=${SYMFONY__ENV__FROM_EMAIL}
      - SYMFONY__ENV__DOMAIN_NAME=https://wallabag.${TS_DOMAIN}
    volumes:
      - /mnt/2000/container-mounts/wallabag/images:/var/www/wallabag/web/assets/images
      - /mnt/2000/container-mounts/wallabag/data:/var/www/wallabag/data
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost",
        ]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - wallabag-net
    labels:
      # For homepage
      - homepage.group=Reading
      - homepage.name=Wallabag
      - homepage.weight=20
      - homepage.icon=/dashboard-icons/svg/wallabag.svg
      - homepage.href=https://wallabag.${TS_DOMAIN}
  ts:
    container_name: wallabag-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=wallabag
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/tailscale-config.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - ./tailscale-config:/config
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - wallabag-net
    depends_on:
      wallabag:
        condition: service_healthy
networks:
  wallabag-net:
