services:
  space-game:
    container_name: space-game
    user: 1000:1000
    build:
      context: ./space-game
      dockerfile: Dockerfile
    volumes:
      - /mnt/2000/container-mounts/caddy/space-game:/space-game
      - ./healthcheck:/healthcheck
    environment:
      - HOME=/space-game
    networks:
      - caddy-net
    healthcheck:
      test: ["CMD", "/healthcheck/checkForSpaceGameProcess"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 30s
      retries: 5
networks:
  caddy-net:
    external: true
