# https://runtimeterror.dev/tsidp-effortless-sso-tailnet/

services:
  tsidp:
    image: ghcr.io/tailscale/tsidp
    # build:
    #   context: ./tsidp
    #   dockerfile: Dockerfile
    container_name: tsidp
    user: 1000:1000
    env_file:
      - tailscale.env
      - .env
    environment:
      - TS_HOSTNAME=tsidp
      - TAILSCALE_USE_WIP_CODE=1
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_STATE_DIR=/data
    volumes:
      - /mnt/2000/container-mounts/tsidp/tsidp:/data
    labels:
      # For homepage
      - homepage.group=Tools
      - homepage.name=Tailscale OIDC IdP (New)
      - homepage.weight=40
      - homepage.icon=/dashboard-icons/svg/tailscale.svg
      - homepage.href=${HOME_PAGE_URL}
    healthcheck:
      test: ["CMD-SHELL", "pgrep tsidp-server"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
