/.idea/
tailscale-state/
.env
tailscale.env
/dawarich/dawarich/
/minecraft/docker-minecraft-bedrock-server/
/diun/diun.yml
homepage/config
/nextcloud/html
/searxng/etc
gitea/app.ini
homepage/icons/
homepage/images/
obsidian-babel-livesync/docker.ini
