{
	debug
	log default {
		output file /var/log/caddy/access.log
		format json
		include http.log.access
	}
	auto_https disable_certs
}
*.lofland.com, lofland.com {
	tls /etc/caddy/lofland-com.pem /etc/caddy/lofland-com-key.pem {
		client_auth {
			mode require_and_verify
			trust_pool file /etc/caddy/cloudflair-origin-pull-ca.pem
		}
	}
	root * /srv/EkpyroticFroodLandingPage
	file_server
	log
}
*.lofland.net, lofland.net {
	tls /etc/caddy/lofland-net.pem /etc/caddy/lofland-net-key.pem {
		client_auth {
			mode require_and_verify
			trust_pool file /etc/caddy/cloudflair-origin-pull-ca.pem
		}
	}
	root * /srv/EkpyroticFroodLandingPage
	file_server
	log
}
*.ekpyroticfrood.net, ekpyroticfrood.net {
	tls /etc/caddy/ekpyroticfrood-net.pem /etc/caddy/ekpyroticfrood-net-key.pem {
		client_auth {
			mode require_and_verify
			trust_pool file /etc/caddy/cloudflair-origin-pull-ca.pem
		}
	}
	root * /srv/EkpyroticFroodLandingPage
	file_server
	log
}
log.ekpyroticfrood.net, blog.ekpyroticfrood.net {
	tls /etc/caddy/ekpyroticfrood-net.pem /etc/caddy/ekpyroticfrood-net-key.pem {
		client_auth {
			mode require_and_verify
			trust_pool file /etc/caddy/cloudflair-origin-pull-ca.pem
		}
	}
	root * /srv/my-digital-garden/dist
	file_server
	log
}
spacymote.ekpyroticfrood.net {
	tls /etc/caddy/ekpyroticfrood-net.pem /etc/caddy/ekpyroticfrood-net-key.pem {
		client_auth {
			mode require_and_verify
			trust_pool file /etc/caddy/cloudflair-origin-pull-ca.pem
		}
	}
	reverse_proxy spacymote:3000
	log
}
witchazzan.ekpyroticfrood.net {
	tls /etc/caddy/ekpyroticfrood-net.pem /etc/caddy/ekpyroticfrood-net-key.pem {
		client_auth {
			mode require_and_verify
			trust_pool file /etc/caddy/cloudflair-origin-pull-ca.pem
		}
	}
	reverse_proxy witchazzan:8080 {
        trusted_proxies 173.245.48.0/20 103.21.244.0/22 103.22.200.0/22 103.31.4.0/22 141.101.64.0/18 108.162.192.0/18 190.93.240.0/20 188.114.96.0/20 197.234.240.0/22 198.41.128.0/17 162.158.0.0/15 104.16.0.0/13 104.24.0.0/14 172.64.0.0/13 131.0.72.0/22
	}
	log
}
*.witchazzan.space, witchazzan.space {
	tls /etc/caddy/witchazzan-space.pem /etc/caddy/witchazzan-space-key.pem {
		client_auth {
			mode require_and_verify
			trust_pool file /etc/caddy/cloudflair-origin-pull-ca.pem
		}
	}
	root * /srv/EkpyroticFroodLandingPage/witchazzan-redirect
	file_server
	log
}
*.voidshipephemeral.space, voidshipephemeral.space {
	tls /etc/caddy/voidshipephemeral-space.pem /etc/caddy/voidshipephemeral-space-key.pem {
		client_auth {
			mode require_and_verify
			trust_pool file /etc/caddy/cloudflair-origin-pull-ca.pem
		}
	}
	root * /srv/EkpyroticFroodLandingPage/voidshipephemeral-redirect
	file_server
	log
}