services:
  caddy:
    container_name: caddy
    user: 1000:1000
    image: caddy
    ports:
      - 80:80
    volumes:
      - /mnt/2000/container-mounts/caddy/conf:/etc/caddy
      - /mnt/2000/container-mounts/caddy/site:/srv
      - /mnt/2000/container-mounts/caddy/data:/data
      - /mnt/2000/container-mounts/caddy/config:/config
      - /mnt/2000/container-mounts/caddy/logs:/var/log/caddy
    networks:
      - caddy-net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -qO - https://www.lofland.com/ | grep -q 'Ekpyrotic Frood Landing Page'",
        ]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 30s
      retries: 5
networks:
  caddy-net:
    external: true
