services:
  your_spotify:
    container_name: your_spotify
    image: lscr.io/linuxserver/your_spotify
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - MONGO_ENDPOINT=mongodb://mongo:27017/your_spotify
      - APP_URL=https://listenedto.${TS_DOMAIN}
      - SPOTIFY_PUBLIC=${SPOTIFY_PUBLIC}
      - SPOTIFY_SECRET=${SPOTIFY_SECRET}
      - CORS=https://listenedto.${TS_DOMAIN}
    depends_on:
      mongo:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://localhost/api/ | grep "Hello" || exit 1
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - your_spotify-net
    labels:
      # For homepage
      - homepage.group=Favorites
      - homepage.name=Your Spotifty
      - homepage.weight=20
      - homepage.icon=/dashboard-icons/svg/your-spotify.svg
      - homepage.href=https://listenedto.${TS_DOMAIN}
  mongo:
    container_name: your_spotify-mongo
    user: 1000:1000
    image: mongo:6
    volumes:
      - /mnt/2000/container-mounts/your-spotify/db:/data/db
    healthcheck:
      test: echo 'db.runCommand({find:"app_db_name.devUser"}).ok' | mongosh --host localhost --quiet | grep -q 1
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - your_spotify-net
  ts:
    container_name: your_spotify-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=listenedto
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/tailscale-config.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - ./tailscale-config:/config
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - your_spotify-net
    depends_on:
      your_spotify:
        condition: service_healthy
networks:
  your_spotify-net:
