# https://docs.linuxserver.io/images/docker-speedtest-tracker/
services:
  speedtest:
    container_name: speedtest
    image: lscr.io/linuxserver/speedtest-tracker
    ports:
      - 8765:80
    volumes:
      - /mnt/2000/container-mounts/speedtest/config:/config
    environment:
      - DISPLAY_TIMEZONE=America/Chicago
      - PUID=1000
      - PGID=1000
      - APP_KEY=${APP_KEY}
      - APP_URL=http://${HOST_NAME}.${TS_DOMAIN}:8765
      - DB_CONNECTION=sqlite
      - SPEEDTEST_SCHEDULE="35 3,15 * * *"
      - PUBLIC_DASHBOARD=true
    labels:
      # For homepage
      - homepage.group=System Monitoring
      - homepage.name=Speedtest
      - homepage.weight=40
      - homepage.icon=/dashboard-icons/png/speedtest-tracker.png
      - homepage.href=http://${HOST_NAME}.${TS_DOMAIN}:8765
      - homepage.widget.type=speedtest
      - homepage.widget.url=http://${HOST_NAME}.${TS_DOMAIN}:8765
    healthcheck:
      test: curl -fSs APP_URL/api/healthcheck | jq -r .message || exit 1
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
# There is no tailscale for this container, it is just exposed locally and can be connected to via the host's tailscale connection.
