services:
  forgejo:
    container_name: forgejo
    image: codeberg.org/forgejo/forgejo:12
    environment:
      - USER_UID=1000
      - USER_GID=1000
    volumes:
      - /mnt/2000/container-mounts/forgejo/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - forgejo-net
    healthcheck:
      test: 'curl --fail http://localhost:3000/api/healthz 2>/dev/null | grep "\"status\": \"pass\"," | wc -l | [ "`cat`" = "3" ] || exit 1'
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    labels:
      # For homepage
      - homepage.group=My Stuff
      - homepage.name=forgejo
      - homepage.weight=50
      - homepage.icon=/dashboard-icons/svg/forgejo.svg
      - homepage.href=https://forgejo.${TS_DOMAIN}
  ts:
    container_name: forgejo-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=forgejo
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/tailscale-config.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - ./tailscale-config:/config
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - forgejo-net
    depends_on:
      forgejo:
        condition: service_healthy
networks:
  forgejo-net:
