# https://github.com/tailscale-dev/tclip
services:
  paste:
    container_name: paste
    user: 1000:1000
    image: ghcr.io/tailscale-dev/tclip
    # NOTE that this needs its OWN "auth key" and it is NOT the same as the tailscale OAuth key other containers use.
    # Instead you need a key from here: https://login.tailscale.com/admin/settings/keys
    environment:
      - DATA_DIR=/data
      - TS_DOMAIN=${TS_DOMAIN}
      - TS_AUTH_KEY=${TS_AUTHKEY}
    volumes:
      - /mnt/2000/container-mounts/paste/data:/data
      - ./healthcheck:/healthcheck
    healthcheck:
      test: ["CMD", "/healthcheck/get-home-page"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    labels:
      # For homepage
      - homepage.group=Tools
      - homepage.name=Paste
      - homepage.weight=20
      - homepage.icon=/dashboard-icons/svg/pastebin.svg
      - homepage.href=https://paste.${TS_DOMAIN}
