# https://github.com/thomiceli/opengist
services:
  paste-db:
    image: mariadb:10
    container_name: paste-db
    volumes:
      - /mnt/2000/container-mounts/paste/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: pastefy
      MYSQL_DATABASE: pastefy
      MYSQL_USER: pastefy
      MYSQL_PASSWORD: pastefy
    networks:
      - paste-net
    # https://mariadb.com/kb/en/using-healthcheck-sh/
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
  paste:
    container_name: paste
    depends_on:
      - paste-db
    image: interaapps/pastefy
    environment:
      HTTP_SERVER_PORT: 80
      HTTP_SERVER_CORS: "*"
      DATABASE_DRIVER: mysql
      DATABASE_NAME: pastefy
      DATABASE_USER: pastefy
      DATABASE_PASSWORD: pastefy
      DATABASE_HOST: paste-db
      DATABASE_PORT: 3306
      SERVER_NAME: "https://paste.jamnapari-goblin.ts.net"
      PASTEFY_PUBLIC_PASTES: true
      PASTEFY_LIST_PASTES: true
    labels:
      # For homepage
      - homepage.group=Tools
      - homepage.name=Paste
      - homepage.weight=20
      - homepage.icon=/dashboard-icons/svg/pastebin.svg
      - homepage.href=https://paste.${TS_DOMAIN}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - paste-net
  ts:
    container_name: paste-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=paste
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/tailscale-config.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - ./tailscale-config:/config
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - paste-net
    depends_on:
      paste:
        condition: service_healthy
networks:
  paste-net:
