services:
  factorio:
    container_name: factorio
    image: factoriotools/factorio:stable
    volumes:
      - /mnt/2000/container-mounts/factorio/data:/factorio
    network_mode: service:ts
    environment:
      - USERNAME=FactorioProfileName
      - TOKEN=FactorioProfileToken
      - PRESET=Default
      - DLC_SPACE_AGE=true
    healthcheck:
      # Enable health check for the instance
      test: ["CMD-SHELL", "pgrep -f /opt/factorio/bin/x64/factorio"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
  ts:
    container_name: factorio-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=factorio
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    ports:
      # These ports are exposed here so that players on the LAN can connect to the server without going through Tailscale encryption, which uses valuable CPU resources and causes game latency.
      # These ports are HERE because the server container above is running ON the ts container's network,
      # which it does so that people connecting to this game via Tailscales' magic can connect to any and all ports of the Minecraft server.
      - 34197:34197/udp
      - 27015:27015/tcp
