services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin
    # network_mode: 'host'
    volumes:
      - /mnt/2000/container-mounts/jellyfin/config:/config
      - /mnt/2000/container-mounts/jellyfin/cache:/cache
      # You can repeat the /media subfolders to have more than one media folder
      - /mnt/2000/container-mounts/jellyfin/music:/media/music
      - /mnt/2000/container-mounts/jellyfin/videos:/media/videos
      - /mnt/2000/container-mounts/jellyfin/movies:/media/movies
      - /mnt/22TB/container-mounts/jellyfin:/media/downloads
      - /mnt/2000/container-mounts/jellyfin/audiobooks:/media/audiobooks
      - /mnt/22TB/container-mounts/recon/data/media:/media/recon
    runtime: nvidia
    ports:
      - 8096:8096
      - 8920:8920
      - 7359:7359/udp # Client discovery
      - 1900:1900/udp # DLNA
    networks:
      - jellyfin-net
    # Note that jellyfin has a health check built into the Dockerfile, so no need to add it here.
    labels:
      # For homepage
      - homepage.group=My Stuff
      - homepage.name=Jellyfin
      - homepage.weight=45
      - homepage.icon=/dashboard-icons/svg/jellyfin.svg
      - homepage.href=https://jellyfin.${TS_DOMAIN}
      - homepage.widget.type=jellyfin
      - homepage.widget.key=${API_KEY}
      - homepage.widget.url=https://jellyfin.${TS_DOMAIN}
      - homepage.widget.enableBlocks=true
      - homepage.widget.fields=["movies", "songs"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  ts:
    container_name: jellyfin-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=jellyfin
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/tailscale-config.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - ./tailscale-config:/config
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - jellyfin-net
    depends_on:
      jellyfin:
        condition: service_healthy
networks:
  jellyfin-net:
