services:
  valheim:
    container_name: valheim
    build:
      # get clone https://github.com/JustinTArthur/valheim-server-docker.git
      # git checkout update-libdoorstop-env-var-scheme
      context: ./valheim-server-docker
      dockerfile: Dockerfile
    init: true
    cap_add:
      - sys_nice
      - SYS_PTRACE
    volumes:
      - /mnt/2000/container-mounts/valheim/config:/config
      - /mnt/2000/container-mounts/valheim/data:/opt/valheim
    stop_grace_period: 2m
    environment:
      - TZ=America/Chicago
      - SERVER_NAME=${SERVER_NAME}
      - WORLD_NAME=${WORLD_NAME}
      - SERVER_PASS=${SERVER_PASS}
      - BACKUPS_MAX_AGE=30
      - ADMINLIST_IDS=${ADMINLIST_IDS}
      - BEPINEX=true
      - SUPERVISOR_HTTP=true
    healthcheck:
      test: wget --no-verbose -O - "http://127.0.0.1:9001" 2>/dev/null | grep running | wc -l | [ "`cat`" = "5" ] || exit 1
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    labels:
      # For homepage
      - homepage.group=Home
      - homepage.name=Valheim
      - homepage.weight=500
      - homepage.icon=/icons/valheim.png
      - homepage.href=http://${HOST_NAME}.${TS_DOMAIN}:9001/
    network_mode: service:ts
    depends_on:
      ts:
        condition: service_healthy
  ts:
    container_name: valheim-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=valheim
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    ports:
      # These ports are exposed here so that players on the LAN can connect to the server without going through Tailscale encryption, which uses valuable CPU resources and causes game latency.
      # These ports are HERE because the server container above is running ON the ts container's network,
      # which it does so that people connecting to this game via Tailscales' magic can connect to any and all ports of the server.
      - "2456-2458:2456-2458/udp"
      - "9001:9001/tcp"
