services:
  kopia:
    image: kopia/kopia
    hostname: kopia
    container_name: kopia
    ports:
      - 51515:51515
    # Setup the server that provides the web gui
    command:
      - server
      - start
      - --disable-csrf-token-checks
      # - --tls-generate-cert
      - --tls-cert-file=/app/config/kopia.cert
      - --tls-key-file=/app/config/kopia.key
      - --address=0.0.0.0:51515
      - --server-username=${SERVER_USERNAME}
      - --server-password=${SERVER_PASSWORD}
    environment:
      # Set repository password
      KOPIA_PASSWORD: ${KOPIA_PASSWORD}
      USER: ${USER}
      SERVER_USERNAME: ${SERVER_USERNAME}
      SERVER_PASSWORD: ${SERVER_PASSWORD}
    volumes:
      # Mount local folders needed by kopia
      - /mnt/2000/container-mounts/kopia/config:/app/config
      - /mnt/250/container-mounts/kopia/cache:/app/cache
      - /mnt/22TB/container-mounts/kopia/logs:/app/logs
      # Mount repository location
      - /mnt/22TB/container-mounts/kopia/repository:/repository
      # Mount path for browsing mounted snaphots
      - /mnt/22TB/container-mounts/kopia/tmp:/tmp:shared
    labels:
      # For homepage
      - homepage.group=Favorites
      - homepage.name=Kopia
      - homepage.weight=20
      - homepage.icon=/dashboard-icons/svg/kopia.svg # https://github.com/homarr-labs/dashboard-icons/
      - homepage.href=${HOME_PAGE_URL}
    healthcheck:
      # Enable health check for the instance
      test: ["CMD-SHELL", "pgrep -f /bin/kopia"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
