services:
  portainer:
    container_name: portainer
    user: 1000:1000
    # This must be the ID of the Docker group.
    group_add:
      - 985
    image: portainer/portainer-ce
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/2000/container-mounts/portainer/data:/data
    networks:
      - portainer-net
    labels:
      # For homepage
      - homepage.group=System Monitoring
      - homepage.name=portainer
      - homepage.weight=40
      - homepage.icon=/dashboard-icons/svg/portainer.svg
      - homepage.href=https://portainer.${TS_DOMAIN}
    # This is the derpiest healtcheck I've ever set up, but it works and keeps the pattern of all of my containers having health checks
    # https://github.com/portainer/portainer/issues/1364#issuecomment-955588034
    healthcheck:
      test: ["CMD", "/docker", "container", "top", "portainer"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
  ts:
    container_name: portainer-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=portainer
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/tailscale-config.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - ./tailscale-config:/config
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - portainer-net
    depends_on:
      portainer:
        condition: service_healthy
networks:
  portainer-net:
