services:
  geomyidae:
    container_name: geomyidae
    user: 1000:1000
    build:
      context: ./geomyidae
      dockerfile: Dockerfile
    volumes:
      - /mnt/2000/container-mounts/caddy/geomyidae:/geomyidae
      - ./healthcheck:/healthcheck
    environment:
      - HOME=/geomyidae
    networks:
      - caddy-net
    healthcheck:
      test: ["CMD", "/healthcheck/checkForGeomyidaeProcess"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 30s
      retries: 5
networks:
  caddy-net:
    external: true
