services:
  freshrss:
    container_name: freshrss
    image: freshrss/freshrss
    logging:
      options:
        max-size: 10m
    volumes:
      - /mnt/2000/container-mounts/freshrss/data:/var/www/FreshRSS/data
      - /mnt/2000/container-mounts/freshrss/extensions:/var/www/FreshRSS/extensions
    environment:
      TZ: America/Chicago
      CRON_MIN: "2,32"
    networks:
      - freshrss-net
    # https://github.com/FreshRSS/FreshRSS/pull/2455
    healthcheck:
      test: (php -r "readfile('http://localhost/i/');" | grep -q 'jsonVars') || exit 1
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    labels:
      # For homepage
      - homepage.group=Reading
      - homepage.name=FreshRSS
      - homepage.weight=10
      - homepage.icon=/dashboard-icons/svg/freshrss.svg
      - homepage.href=https://freshrss.${TS_DOMAIN}
      - homepage.widget.type=freshrss
      - homepage.widget.url=https://freshrss.${TS_DOMAIN}
      - homepage.widget.username=${FRESHRSS_USERNAME}
      - homepage.widget.password=${FRESHRSS_PASSWORD}
  ts:
    container_name: freshrss-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=freshrss
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/tailscale-config.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - ./tailscale-config:/config
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - freshrss-net
    depends_on:
      freshrss:
        condition: service_healthy
networks:
  freshrss-net:
