services:
  stirling-pdf:
    container_name: stirling-pdf
    image: stirlingtools/stirling-pdf:V2-Beta
    volumes:
      - /mnt/2000/container-mounts/stirling-pdf/tessdata:/usr/share/tessdata #Required for extra OCR languages
      - /mnt/2000/container-mounts/stirling-pdf/configs:/configs
    # - ./customFiles:/customFiles/ # Not used yet.
    # - ./logs:/logs/ # Don't care, they can be lost
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=true
      - LANGS=en_US
    networks:
      - stirling-pdf-net
    healthcheck:
      test: 'curl --fail -s http://localhost:8080/api/v1/info/status 2>/dev/null | grep "\"status\":\"UP\"" || exit 1'
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    labels:
      # For homepage
      - homepage.group=Tools
      - homepage.name=Stirling PDF
      - homepage.weight=30
      - homepage.icon=/dashboard-icons/svg/stirling-pdf.svg
      - homepage.href=https://stirling-pdf.${TS_DOMAIN}
  ts:
    container_name: stirling-pdf-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=stirling-pdf
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/tailscale-config.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - ./tailscale-config:/config
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - stirling-pdf-net
    depends_on:
      stirling-pdf:
        condition: service_healthy
networks:
  stirling-pdf-net:
