services:
  karakeep:
    container_name: karakeep
    image: ghcr.io/karakeep-app/karakeep:release
    volumes:
      - /mnt/2000/container-mounts/karakeep/data:/data
    networks:
      - karakeep-net
    environment:
      - MEILI_ADDR=http://karakeep-meilisearch:7700
      - BROWSER_WEB_URL=http://karakeep-chrome:9222
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
      - NEXTAUTH_URL=https://karakeep.${TS_DOMAIN}
      - DATA_DIR=/data
      - CRAWLER_STORE_SCREENSHOT=true
      - CRAWLER_FULL_PAGE_SCREENSHOT=true
      - CRAWLER_ENABLE_ADBLOCKER=true
      # - OPENAI_API_KEY=123
    depends_on:
      karakeep-chrome:
        condition: service_healthy
    labels:
      # For homepage
      - homepage.group=Reading
      - homepage.name=KaraKeep
      - homepage.weight=30
      - homepage.icon=/dashboard-icons/svg/karakeep-dark.svg
      - homepage.href=https://karakeep.${TS_DOMAIN}
      - homepage.widget.type=karakeep
      - homepage.widget.key=${HOME_PAGE_API_KEY}
      - homepage.widget.url=https://karakeep.${TS_DOMAIN}
  karakeep-chrome:
    image: gcr.io/zenika-hub/alpine-chrome:123
    container_name: karakeep-chrome
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
    networks:
      - karakeep-net
    healthcheck:
      # Enable health check for the instance
      test: ["CMD-SHELL", "pgrep -f /usr/lib/chromium/chromium"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    depends_on:
      karakeep-meilisearch:
        condition: service_healthy
  karakeep-meilisearch:
    image: getmeili/meilisearch:v1.13.3
    container_name: karakeep-meilisearch
    environment:
      - MEILI_NO_ANALYTICS=true
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    volumes:
      - /mnt/2000/container-mounts/karakeep/meilisearch:/meili_data
    networks:
      - karakeep-net
    healthcheck:
      test: curl --fail http://localhost:7700/health | grep "available" || exit 1
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
  ts:
    container_name: karakeep-ts
    image: tailscale/tailscale
    environment:
      - TS_HOSTNAME=karakeep
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/tailscale-config.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_LOCAL_ADDR_PORT=127.0.0.1:9002
      - TS_AUTHKEY=${TS_AUTHKEY}
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - ./tailscale-config:/config
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2564770640
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_period: 120s
      start_interval: 5s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - karakeep-net
    depends_on:
      karakeep:
        condition: service_healthy
networks:
  karakeep-net:
